label{
    display: inline-block;
    width: 150px;
    padding-bottom: 5px;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submit_review{
    margin-top: 10px;
    margin-left: 160px;
    margin-bottom: 20px;
}
#movie_name{
    width: 300px;
}
#confirmation{
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}
.success{
    color: green;
}
.fail{
    color: red;
}