.row{
    margin-bottom: 50px;
}
.row h4{
    margin-top: 25px;
}
.movieRating{
    margin-bottom: 25px;
}
h2{
    text-decoration: underline;
}
.row img{
    border: 1px solid black;
}
#emptyPage{
    margin-left: 20px;
}